.Navigation{
    float: none;
    margin-top: 40px;
    margin-right: 50px;
}
.Navigation a{
    text-decoration: none;
    color: gray;
    /* border: 1px solid white; */
    margin: 5px;
    padding: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*styling starts here*/
h2{

    border: 2px solid black;
    padding  :30px;
    padding-left: 40%;
}


/* about stylling starts here */
h1{
    color: brown;
   padding-left: 43%;

}
img {
    float: left;
    border: 1px dotted black;
    margin: 0px 0px 15px 20px;
  }
#p1{

    /* border: 1px solid red; */
    font-family: 'Courier New', Courier, monospace;
    padding-right: 10%;
    font-size: large;
    margin-left: 45%

}
#p2{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

/* about stylling ends here */



/* skill stylling starts here */
.skill{
    color:brown;
    padding-left: 40%;
    /* border: 1px solid red */


}
ul{
    /* border: 1px solid red; */
    padding-left: 30%;
    margin-right: 55%;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}


/* skill stylling ends here */

/* education starts here */
dl{
    border: 1px soild red ;
    padding-left: 10%;
}

/* education stylling ends here */


/* contact stylling starts here */
.Contact{
    color: black;
    padding-left: 28%;
}
.my_contact{
    /* border: 1px solid red; */
    margin-left: 25%;
    margin-right: 50%;
}


/* contact stylling ends here */
.Social_media a{
    text-decoration: none;
    color:black;
    /* border: 1px solid white; */
    margin: 10px;
    padding: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.copy{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:30% ;
}   